<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head") %>

  <body>
    <%- include("./partials/navbar") %>
      <div class="container">
        <div class="row" style="flex-wrap: nowrap; position: fixed;">
          <div class="col-lg-3" id="category-bar">
            <h1 class="my-4">Explore...</h1>
            <% for (let category of categories) { %>
              <div class="list-group">
                <a class="btn btn-info m-2" href="/sort/<%=category.id%>/">
                  <%= category.category %>
                </a>
              </div>
              <% } %>
          </div>
          <div class="row">
            <% for (let post of posts) { %>
              <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                  <a href="/post_details/<%= post.id %>/"><img class="card-img-top" src="<%= post.image_url %>"
                      alt="Post Image" /></a>
                  <div class="card-body">
                    <h4 class="card-title">
                      <a href="/post_details/<%= post.id %>/">
                        <%= post.title %>
                      </a>
                    </h4>
                    <p class="card-text">
                      <%= post.post_description %>
                    </p>
                  </div>
                </div>
              </div>
              <% } %>
          </div>

        </div>
        <scri pt src="vendor/jquery/jquery.min.js">
          </script>
          <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  </body>

</html>
