<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head") %>

  <body>
    <%- include("./partials/navbar") %>
      <!-- Page Content -->
      <div class="container">
        <div class="row">
          <div class="col-lg-3">
            <h1 class="my-4">Explore...</h1>
            <% for (let category of posts) { %>
              <div class="list-group">
                <a class="btn btn-info m-2" href="/sort/<%=category.id%>/">
                  <!-- <button type = "button" class="btn btn-secondary m-1"> -->
                  <%= category.category %>
                <!-- </button> -->
              </a>
              </div>
              <% } %>
          </div>
          <!-- /.col-lg-3 -->

          <div class="col-lg-9">
            <%- include("./partials/posts") %>
              <!-- /.row -->
          </div>
          <!-- /.col-lg-9 -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
<!--Button GO UP  -->
<a id="myBtn" href="#">Top</a>

      <!-- Bootstrap core JavaScript -->
      <script src="vendor/jquery/jquery.min.js"></script>
      <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
