<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head") %>

  <body>
    <%- include("./partials/navbar") %>
      <!-- Page Content -->
      <div class="container">
        <div class="row">
          <div class="col-lg-3">
            <h1 class="my-4">Explore...</h1>
            <% for (let category of posts) { %>
              <div class="list-group">
<<<<<<< HEAD
                <a href="/sort/<%=category.id%>/"><button type = "button" class="btn btn-secondary m-1">
=======
                <button type="button" class="btn btn-secondary m-1" data-value="<%=category.id%>">
>>>>>>> origin
                  <%= category.category %>
                </button></a>
              </div>
              <% } %>
<<<<<<< HEAD
=======
                <script>
                  $(document).ready(() => {
                    $("button").click(function (e) {
                      let $target = $(e.target);
                      let categoryId = $target.data("value");
                      $.ajax({
                        method: "GET",
                        url: `/sort/${categoryId}`
                      }).done((category) => {
                        console.log(category);
                        // $(".row").text(category).appendTo($(".row"));
                      });;
                    })
                  });
                </script>
>>>>>>> origin
          </div>
          <!-- /.col-lg-3 -->

          <div class="col-lg-9">
            <%- include("./partials/posts") %>
              <!-- /.row -->
          </div>
          <!-- /.col-lg-9 -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->


      <!-- Bootstrap core JavaScript -->
      <script src="vendor/jquery/jquery.min.js"></script>
      <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
