<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head") %>

  <body>
    <%- include("./partials/navbar") %>
      <!-- Page Content -->

      <h3>Profile</h3>
      <table class="table">
        <tbody>
          <img src="<%= user.profile_picture %>" alt="user_image">
          <tr>
            <td>
              <%= user.name %>
            </td>
            <td>
              <%= user.email %>
            </td>
            <td>
              <%= user.password %>
            </td>
          </tr>
        </tbody>
      </table>
      <form action="update/:id" method="POST">
        <div class="form-group mb-2">
          <label for="first_name">First Name</label>
          <input class="form-control mb-3" type="first_name" name="first_name" placeholder="Enter First Name"
            style="width: 300px">
          <label for="last_name">Last Name</label>
          <input class="form-control mb-3" type="last_name" name="last_name" placeholder="Enter Last Name"
            style="width: 300px">
          <label for="city">City</label>
          <input class="form-control mb-3" type="city" name="city" placeholder="Enter City" style="width: 300px">
          <label for="gender">Gender</label>
          <input class="form-control mb-3" type="gender" name="gender" placeholder="Enter Gender" style="width: 300px">
          <label for="profile_picture">Profile Picture</label>
          <input class="form-control mb-3" type="profile_picture" name="profile_picture" placeholder="Enter Picture URL"
            style="width: 300px">
          <button type="submit" class="btn btn-primary">Update</button>
        </div>
      </form>

      <!-- Bootstrap core JavaScript -->
      <script src="vendor/jquery/jquery.min.js">
      </script>
      <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
